.idea/*
*.mdl
agents/__pycache__/agentActorCriticfinal.cpython-310.pyc agents/__pycache__/agentReinforce.cpython-310.pyc commons/__pycache__/makeEnv.cpython-310.pyc commons/__pycache__/saveModel.cpython-310.pyc commons/__pycache__/testModel.cpython-310.pyc commons/__pycache__/trainModel.cpython-310.pyc commons/__pycache__/utils.cpython-310.pyc env/__pycache__/custom_hopper.cpython-310.pyc env/__pycache__/custom_hopper.cpython-37.pyc env/__pycache__/__init__.cpython-310.pyc env/__pycache__/__init__.cpython-37.pyc env/__pycache__/mujoco_env.cpython-310.pyc env/__pycache__/mujoco_env.cpython-37.pyc policies/__pycache__/fraNET.cpython-310.pyc policies/__pycache__/tibNET.cpython-310.pyc
